<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../static/bootstrap-5.3.1/dist/css/bootstrap.css">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="icon" type="image/png" href="">
    <title>Pedro Lucas</title>
</head>
<body>
    <h1>oiii</h1>

    <script src="../static/bootstrap-5.3.1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="../static/script.js"></script>
</body>
</html>